@model IEnumerable<FitnessTrainer.ViewModels.RecForFoodViewModel>

@{
    ViewData["Title"] = "Index";
}

@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Core.Common;
@using X.PagedList

<h1>Сторінка списків продуктів</h1>

<div class="container my-4">
    <div class="row justify-content-between">
        <div class="col-8">
            <form class="form-inline" asp-controller="RecForFoods" asp-action="Index">
                <input class="form-control mr-sm-2" name="searchString" type="search" placeholder="Пошук" aria-label="Поиск" value="@ViewData["CurrentFilter"]" />
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Шукати</button>
            </form>
        </div>
        <div class="col-4 text-right">
            <a class="btn btn-outline-primary" asp-action="CreatePlan">Додати план</a>
        </div>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="d-none d-md-table-cell">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td class="d-none d-md-table-cell">
                    @item.Description
                </td>
                <td class="p-2">
                    <div class="row mb-1"><a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.Id">Змінити</a></div>
                    <div class="row mb-1"><a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id">Переглянути</a></div>
                    <div class="row"><a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Видалити</a></div>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.PagedListPager((IPagedList)ViewBag.recsList, page => Url.Action("Index", new { page = page, searchString = @ViewData["CurrentFilter"] }), new PagedListRenderOptions
{
    LinkToFirstPageFormat = "<<",
    LinkToLastPageFormat = ">>",
    LiElementClasses = new string[] { "page-item" },
    PageClasses = new string[] { "page-link" }
})