@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<header>
    <nav class="navbar navbar-expand-xl navbar-toggleable navbar-light border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">FitnessTrainer</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-xl-none justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    @if (User.IsInRole("MobileUser"))
                    {
                        <li class="nav-item">
                            <a class="nav-link @(ViewBag.NameOfActivePage == "UserIndex" ? "active" : "")" asp-controller="Users" asp-action="Index">@Localizer["User"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewBag.NameOfActivePage == "UserPlans" ? "active" : "")" asp-controller="Users" asp-action="UserPlans">@Localizer["UserPlans"]</a>
                        </li>
                    }
                    @if (User.IsInRole("Administrator"))
                    {
                        <li class="nav-item">
                            <a class="nav-link @(ViewBag.NameOfActivePage == "AdminIndex" ? "active" : "")" asp-controller="Admin" asp-action="Index">@Localizer["Admin"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewBag.NameOfActivePage == "ExercisesIndex" ? "active" : "")" asp-controller="Exercises" asp-action="Index">@Localizer["Exercises"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewBag.NameOfActivePage == "FoodsIndex" ? "active" : "")" asp-controller="Foods" asp-action="Index">@Localizer["Foods"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewBag.NameOfActivePage == "RecForFoodsIndex" ? "active" : "")" asp-controller="RecForFoods" asp-action="Index">@Localizer["RecForFoods"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewBag.NameOfActivePage == "WorkoutPlansIndex" ? "active" : "")" asp-controller="WorkoutPlans" asp-action="Index">@Localizer["WorkoutPlans"]</a>
                        </li>
                    }
                </ul>
                @await Html.PartialAsync("_SetLanguagePartial")
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>
</header>