@model FitnessTrainer.DomainEntities.Entity.Exercise

@{
    ViewData["Title"] = "Delete";
}

<h1>Видалення</h1>

<h3>Ви дійсно бажаете видалити вправу?</h3>
<div>
    <h4>Вправа</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImagePath)
        </dd>
        <dt class="col-sm-2">
            Image
        </dt>
        <dd class="col-sm-10">
            <img src="~/images/@Model.ImagePath"
                 class="rounded"
                 height="120" width="120"
                 asp-append-version="true" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfApproaches)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfApproaches)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfRepetitions)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfRepetitions)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TimeBetweenSets)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TimeBetweenSets)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RestTimeAtTheEnd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RestTimeAtTheEnd)
        </dd>
    </dl>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Видалити" class="btn btn-outline-danger" />
    </form>
</div>
<br />
<hr />
<a class="btn btn-link" asp-action="Index">< Повернутися до списку</a>
