@model FitnessTrainer.ViewModels.ExerciseViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Delete";
}

<h1 class="mt-5">@Localizer["Header"]: @Model.Name?</h1>
<br />
<img src="~/images/@Model.ImagePathString"
     class="rounded mt-5"
     height="200"
     asp-append-version="true" />
<div class="mt-5">
    <dl class="row">
        <dt class="col-sm-3 col-4 mb-4">
            @Localizer["NumberOfApproaches"]
        </dt>
        <dd class="col-sm-9 col-8">
            @Html.DisplayFor(model => model.NumberOfApproaches)
        </dd>
        <dt class="col-sm-3 col-4 mb-4">
            @Localizer["NumberOfRepetitions"]
        </dt>
        <dd class="col-sm-9 col-8">
            @Html.DisplayFor(model => model.NumberOfRepetitions)
        </dd>
        <dt class="col-sm-3 col-4 mb-4">
            @Localizer["TimeBetweenSets"]
        </dt>
        <dd class="col-sm-9 col-8">
            @Html.DisplayFor(model => model.TimeBetweenSets)
        </dd>
        <dt class="col-sm-3 col-4 mb-4">
            @Localizer["RestTimeAtTheEnd"]
        </dt>
        <dd class="col-sm-9 col-8">
            @Html.DisplayFor(model => model.RestTimeAtTheEnd)
        </dd>
        <dt class="col-sm-2 mb-4">
            @Localizer["Image"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImagePathString)
        </dd>
        <dt class="col-sm-2 mb-4">
            @Localizer["Description"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    <hr />
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="@Localizer["DeleteButton"]" class="btn btn-outline-danger" />
    </form>
</div>
<br />
<a class="btn btn-link" asp-action="Index">@Localizer["BackLink"]</a>
